:root {
  --color-text: #18191f;
  --color-black-default: #0b0d17;
  --color-violet-light: #f1e4ff;
  --color-violet-normal: #8c30f5;
  --color-violet-transparent: rgba(140, 48, 245, 0.9);
  --color-blue-light: #75e3ea;
  --color-orange: #ffc278;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-text, black);
  margin: 0;
  position: relative;
}

ul {
  list-style: none;
  height: auto;
}

#main-header {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

#navbar {
  display: grid;
  grid-template-areas: "logo links";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  max-width: 100%;
  background-color: white;
}

#navbar > .navbar-side {
  display: flex;
  justify-content: center;
}

#navbar > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar > ul > li > a {
  color: var(--color-text, black);
  text-decoration: none;
}

.navbar-side-right {
  grid-area: links;
}

.btn-menu {
  grid-area: btn;
  display: none;
}

#navbar > .navbar-side-right > li {
  margin: 0 1em;
}

.main-section {
  max-width: 100%;
}

.section-beggining {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-beggining > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  z-index: 100;
}

.section-beggining h1 {
  font-size: 4.3rem;
  margin-bottom: 0.1em;
}

.section-beggining h2 {
  margin-top: 0;
  font-weight: normal;
  font-size: 1em;
}

.section-beggining .circles-background {
  border-radius: 50%;
  background-color: red;
  min-height: 72px;
  width: 72px;
  position: absolute;
}

.section-beggining .first {
  top: 253px;
  left: 180px;
  background-color: var(--color-violet-normal)
}

.section-beggining .second {
  top: 617px;
  left: 108px;
  background-color: var(--color-blue-light);
}

.section-beggining .third {
  top: 433px;
  right: 200px;
  background-color: var(--color-blue-light);
}

.section-beggining .fourth {
  top: 689px;
  left: 1062px;
  background-color: var(--color-orange);
}

.section-beggining .fifth {
  min-height: 444px;
  width: 444px;
  top: -150px;
  right: -150px;
  background-color: var(--color-violet-normal);
}

.main-section-abilities {
  min-height: 650px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 1em;
}

.main-section-abilities > .left > .content {
  width: 60%;
  margin: 0 auto;
}

.main-section-abilities > .right {
  position: relative;
  width: 486px;
  height: 486px;
  padding: 70px; /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: solid 1px var(--color-violet-light);
  border-radius: 50%;
  margin-bottom: 2em;
}

.second-circle {
  position: absolute;
  width: 340px;
  height: 340px;
  padding: 70px;
  background-color: var(--color-violet-light);
  border-radius: 50%;
}

.third-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  padding: 56px;
  background-color: white;
  border-radius: 50%;
}

.main-section-abilities > .right img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px;
  z-index: 10;
}

.deg45 {
  transform: rotate(45deg) translate(243px) rotate(-45deg);
}
.deg90 {
  transform: rotate(90deg) translate(243px) rotate(-90deg);
}
.deg135 {
  transform: rotate(135deg) translate(243px) rotate(-135deg);
}
.deg225 {
  transform: rotate(225deg) translate(243px) rotate(-225deg);
}
.deg270 {
  transform: rotate(270deg) translate(243px) rotate(-270deg);
}
.deg315 {
  transform: rotate(315deg) translate(243px) rotate(-315deg);
}

.little-deg270 {
  transform: rotate(270deg) translate(100px) rotate(-270deg);
}
.little-deg135 {
  transform: rotate(135deg) translate(100px) rotate(-135deg);
}
.little-deg45 {
  transform: rotate(45deg) translate(100px) rotate(-45deg);
}

.main-section-projects {
  background-color: var(--color-black-default, black);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-section-projects > h2 {
  text-align: center;
}

.main-section-projects > .content {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 2em;
}

.project {
  display: grid;
  grid-template-rows: auto auto auto;
  width: 100%;
  min-height: 350px;
  background-color: white;
  color: var(--text-color, black);
  border-radius: 0.5em;
  margin-bottom: 0;
}

.project > ul {
  display: flex;
  justify-content: flex-start;
  color: var(--color-violet-normal, violet);
}

.project > ul > li {
  margin-right: 2em;
}

.project > * {
  margin: 1em;
}
.project > ul {
  display: flex;
}
#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "empty centered right";
  padding-top: 3em;
  background-color: var(--color-black-default);
  color: white;
  justify-items: center;
}

#footer > .right {
  grid-area: right;
  padding-left: 0;
}
#footer > .center {
  grid-area: centered;
}
#footer ul {
  display: flex;
}

@media (max-width: 767px) {
  .none {
    display: none;
  }

  #navbar {
    grid-template-areas: "logo btn";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #navbar > .none {
    display: none;
  }

  #navbar > .navbar-side-right {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 50px 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 50%;
    background-color: var(--color-violet-transparent);
  }

  #navbar > .navbar-side-right a {
    color: white;
  }

  .btn-menu {
    display: flex;
    grid-area: btn;
    justify-content: flex-end;
    align-items: center;
  }

  .btn-menu img {
    height: 40px;
  }

  .section-beggining > .content {
    width: 100%;
    padding-left: 1em;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 0.9rem;
  }
  .section-beggining h1 {
    font-size: 2.5rem;
  }
  #beggining > .content {
    margin-left: 1em;
  }
  #beggining > .content h2 {
    font-size: 0.9rem;
  }
  #abilities {
    margin-bottom: 20px;
  }
  #navbar {
    grid-template-areas: "";
  }

  .main-section-projects > .content {
    width: 100%;
  }
  .main-section-abilities {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .main-section-abilities > .left > .content {
    padding: 0 0.5em;
    width: 100%;
  }
  .main-section-abilities > .right {
    width: 350px;
    height: 350px;
    padding: 56px; /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  }

  .second-circle {
    width: 235px;
    height: 235px;
    padding: 56px;
  }

  .third-circle {
    width: 120px;
    height: 120px;
    padding: 56px;
  }

  .main-section-abilities > .right img {
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px;
  }

  .deg45 {
    transform: rotate(45deg) translate(175px) rotate(-45deg);
  }
  .deg90 {
    transform: rotate(90deg) translate(175px) rotate(-90deg);
  }
  .deg135 {
    transform: rotate(135deg) translate(175px) rotate(-135deg);
  }
  .deg225 {
    transform: rotate(225deg) translate(175px) rotate(-225deg);
  }
  .deg270 {
    transform: rotate(270deg) translate(175px) rotate(-270deg);
  }
  .deg315 {
    transform: rotate(315deg) translate(175px) rotate(-315deg);
  }

  .little-deg270 {
    transform: rotate(270deg) translate(60px) rotate(-270deg);
  }
  .little-deg135 {
    transform: rotate(135deg) translate(60px) rotate(-135deg);
  }
  .little-deg45 {
    transform: rotate(45deg) translate(60px) rotate(-45deg);
  }
  .section-beggining > .content {
    width: 100%;
    font-size: 0.65em;
  }
  #footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer > .center {
    display: flex;
    align-items: center;
  }
}
