:root {
  --color-text: #18191f;
  --color-background-projects: #0b0d17;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-text, black);
  margin: 0;
  position: relative;
}

ul {
  list-style: none;
}

#main-header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 3em;

}

#navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  box-shadow: 0px 1px 0px 0px #e5e9f2;
}

#navbar > .navbar-side {
  display: flex;
  justify-content: center;
}

#navbar > .navbar-side-right > li {
  margin: 0 1em;
}

.section-beggining {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-beggining > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5em;
  width: 40%;
}

h1 {
  font-size: 4.3em;
  margin-bottom: 0.1em;
}

.section-beggining h2 {
  margin-top: 0;
  font-weight: normal;
  font-size: 1em;
}

.main-section-abilities {
  min-height: 650px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}



.main-section-abilities > .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section-abilities > .left > .content {
  width: 60%;
  margin: 0 auto;
}

.main-section-projects {
  /* height: 100vh; */
  background-color: var(--color-background-projects, black);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*  */
.main-section-projects > h2 {
  text-align: center;
}

.main-section-projects > .content {
  margin: 0 8em 4em 8em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
}

.project {
  display: grid;
  grid-template-rows: auto auto auto;
  padding: 1em 2em;
  background-color: white;
  color: var(--text-color, black);
  border-radius: 0.5em;
}
.project > .content {
  /* display: flex; */
}
.project > ul {
  display: flex;
}
