* {
    box-sizing: border-box;
}

:root {
    --navbar-color: rgba(33, 33, 33, 1);
    --navbar-color--trasparente: rgba(33, 33, 33, 0.8);
    --navbar-color-hover: var(--navbar-color);
    --presentation-color: var(--navbar-color);
    --proyecto-color: var(--navbar-color);
    --text-color: #333333;
    --text-color-navbar: #f7f8f3;
    --text-color-inicio: #f7f8f3;
    --text-color-proyectos: var(--text-color);
    --text-color-footer: #f7f8f3;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    margin: 0;
    font-family: 'Noto Sans Display', sans-serif;
    height: 100vh;
}

/*navbar*/

.header {
    margin: 0 0 0 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 3em;
    padding: 0 0 0 0;
    background-color: var(--navbar-color--trasparente);
    font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.navbar-left {
    display: flex;
    padding-left: 0;
}

.navbar-right {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    align-items: center;
}

.navbar-elements {
    display: flex;
    justify-content: center;
    width: 6em;
    text-align: center;
}

.navbar-elements a {
    color: var(--text-color-navbar);
    position: relative;
    font-weight: bold;
}

.navbar-icon {
    height: 35px;
}

.navbar-elements:hover {
    /* background-color: var(--navbar-color-hover); */
    /* font-weight: bold; */
    transform: scale(1.1);
}

.btn-menu {
    display: none;
    margin-left: 1em;
}


/* seccion */

.seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3em);
    width: 100%;
}

.seccion-inicio {
    top: 0;
    margin-top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/inicio.jpg");
    background-size: cover;
    background-position: center;
}


/* inicio */

.presentation {
    text-align: center;
    background-color: rgb(0 0 0 /0.3);
    width: 60%;
}

.presentation-text {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 1.25em;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color-inicio);
}

.presentation-text p {
    margin: 0;
    animation: display-index 5s;
}


/* habilidades */

.habilidades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 60%;
    height: 80%;
    flex-wrap: wrap;
    gap: 1em;
}

.habilidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.2em solid #333;
    text-align: center;
    font-size: 0.7rem;
}

.seccion-habilidades h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.habilidad h2 {
    color: black;
    font-weight: normal;
}

.fondo-habilidad {
    width: 60%;
    max-width: 150px;
    min-width: 80px;
}

.ultima-habilidad {
    grid-column-start: 2;
}


/*PROYECTOS*/

.seccion-proyectos {
    height: calc(100vh - 67px);
    /* position: relative; */
}

.seccion-proyectos h1 {
    font-family: 'Libre Franklin', sans-serif;
}

.proyectos {
    /* display: flex; */
    /* flex-direction: column; */
    width: 80%;
    height: 80%;
}

.proyecto {
    padding: 0.5em;
    width: 100%;
    margin-bottom: 1.5em;
    font-size: 1rem;
    text-align: center;
    background-color: var(--proyecto-color);
    color: var(--text-color-navbar);
}

.proyecto p {
    font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.fondo-borroso {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255 255 255 / 0.9)
}

.descripcion-proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    border: 0.2em solid var(--proyecto-color);
    background-color: rgba(255 255 255 / 1);
    color: var(--text-color);
}

.descripcion-proyecto--cerrar {
    position: absolute;
    top: 0em;
    right: 0.5em;
}

.descripcion-proyecto--contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.descripcion-proyecto--contenido--enlaces {
    margin: 1em;
}

.descripcion-icon {
    height: 3em;
    width: 3em;
    margin-bottom: 0.5em;
}

.descripcion-icon img {
    height: 3em;
    width: 3em;
}

.descripcion-proyecto--cerrar i {
    height: 100%;
    width: 100%;
}

.descripcion-proyecto--descripcion {
    width: 80%;
    margin: 0.25em;
}

.mostrar {
    display: none;
}


/* general */

.boton {
    padding: 0.5em;
    background-color: var(--navbar-color);
    color: white;
}


/*footer*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em;
    text-align: center;
    color: var(--text-color-footer);
    background-color: var(--navbar-color)
}

@keyframes display-index {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 90%;
    }
}

@media only screen and (min-width:320px) and (max-width:800px) {
    html {
        font-size: 0.8rem;
    }
    h1 {
        margin-top: 2em;
    }
    .presentation {
        width: auto;
    }
    .presentation-text {
        font-size: 1rem;
    }
    .btn-menu {
        display: inline-flex
    }
    .navbar-left {
        flex-direction: column;
        position: fixed;
        align-items: center;
        top: -100vh;
        height: calc(100vh - 3em);
        width: 50%;
        margin-top: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .navbar-left li {
        margin: 1em 0;
    }
    .navbar-elements {
        font-size: 1.2rem;
    }
    .navbar-elements:hover {
        background: none;
    }
    .show {
        top: 3em;
    }
    /* proyectos */
    .proyectos {
        width: 90%;
    }
    .descripcion-proyecto {
        width: 90%;
        min-height: 60vh;
    }
    .descripcion-proyecto--descripcion {
        width: 90%;
    }
    .habilidades {
        width: 90%;
    }
    .habilidad {}
}